* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(70, 57, 57);
    height: 100vh;
    padding: 50px;
    cursor: none;
}

.cursor {
    border: 3px solid white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    animation: anim1 0.5s infinite alternate;
    transition-duration: 150ms;
    transition-timing-function: ease-out;

    &::after {
        content: '';
        position: absolute;
        top: -9px;
        left: -9px;
        height: 30px;
        width: 30px;
        border: 6px solid rgba(255, 255, 255, 0.42);
        border-radius: 50%;
        animation: anim2 0.5s infinite alternate;
    }
}


@keyframes anim1 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3)
    }
}

@keyframes anim2 {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(0.4);
    }
}

@keyframes anim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}


.expand {
    animation: anim3 0.5s forwards;
}